* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

.video-list {
    .video-item {
        position: relative;
        width: 296px;
        height: 285px;
        float: left;
        margin-bottom: 14px;
        margin-left: 14px;
        text-align: center;

        &:first-child {
            margin-left: 0;
        }
        
        .play {
            position: absolute;
            left: 20px;
            bottom: 10px;
            width: 32px;
            height: 20px;
            border: 2px solid #fff;
            border-radius: 12px;
            background-color: rgba(0,0,0,.6);
            color: #fff;
            transition: all .2s;

            i {
                position: relative;
                top: -4px;
                font-size: 13px;
            }
        }

        h1 {
            margin: 0 14px 6px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            color: #333;
        }

        p {
            height: 18px;
            margin: 0 14px;
            font-size: 12px;
            color: #b0b0b0;
            text-align: center;
        }
    }

    .figure {
        position: relative;
        img {
            width: 296px;
            height: 180px;
        }

        &:hover {
            .play {
                background-color: #ff6700;
                border-color: #ff6700;
            }
        }
    }
}