<nav class="navbar navbar-expand navbar-dark navbar-dark bg-primary flex-column flex-md-row">
    <a class="navbar-brand mr-0 mr-md-2" href="/">电影预告</a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item active">
                <a class="nav-link" href="#">链接1 <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>